
<p>Hola:</p>
<p>Visita este vínculo para restablecer la contraseña de
  {{userName}}
  para tu cuenta de
  {{email}}.</p>
<p><a href={{token}}>{{token}}</a></p>
<p>Si no solicitaste el restablecimiento de tu contraseña, puedes ignorar este
  correo electrónico.</p>
<p>Gracias.</p>
<p>El equipo de {{company}}</p>
<div>
  <h1>¡Ésto es un test!</h1>
  <img src={{img1}} style="width: 50px" />
</div>